.post-detail {
    width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-author, .post-country {
    font-weight: bold;
    color: black;
}

.post-images img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post-tags {
    margin-top: 10px;
}

.tag {
    background-color: #f0f0f0;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 20px;
    font-size: 14px;
}

.post-actions {
    margin-top: 15px;
}

.like-btn, .dislike-btn {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.like-btn:hover, .dislike-btn:hover {
    background-color: #f9f9f9;
}
